  <%= form_with(url: update_movie_element_path(id: movie.id, element: element),model: movie, local: false, id: dom_id(movie)+"_"+@element+"_form") do |form| %>
  
    <% if movie.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

        <ul>
          <% movie.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <td class="field">
        <% form.label element, id: dom_id(movie)+"_"+element %>
        <%= form.text_field element, id: dom_id(movie)+"_"+element %>
      </td>

      <td class="actions">
        <% form.submit %>
      </td>  
  <% end %>